body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  width: 80vw;
  margin: 2vh auto 0;
  background-color: #ebe7e7;
}

iframe {
  /* display: none; */
  margin: 0;
  border: 0;
  height: 250px;
  width: 300px;

}

fencedframe {
  height: 250px;
  width: 300px;
  border: 1px solid black;
}
