body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  width: 80vw;
  margin: 2vh auto 0;
  background-color: #f8f8f8;
}

fencedframe {
  height: 250px;
  width: 300px;
  border: 1px solid black;
}